@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;500;600&family=Goldman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    letter-spacing: 0.03em;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, rgba(230, 233, 240, 0.555) 0%, rgba(238, 241, 245, 0.671) 100%),url("../imagenes/fond.jpg");

}

.menu-navegacion{
    font-size: 15px;
    position:fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(2, 2, 2, 0.521);
    z-index: 1000;
}

.spread{
    transform:translate(0);
}


.menu-navegacion p{
    font-weight: 300;
    color: rgb(12, 12, 12);
    text-decoration: none;
}

.menu-navegacion p:hover{
        border-bottom:2px solid #c7c7c7;
        color:white;
}

.menu{
    position:fixed;
    top: 30px;
    right: 30px;
    background: rgba(199, 242, 255, 0.521);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(2, 2, 2, 0.521);
}


header{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #b0b8c9 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 6px black;
}

header .logo{
    position: relative;
    max-width: 200px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover{
    color:white;
    border-bottom:2px solid #c7c7c7;
    padding: 5px 10px;
}

.content{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position:relative;
    max-width: 600px;
}

.content .textBox h2{
    color: rgb(61, 60, 60);
    font-size: 2em;
    line-height: 1em;
    font-weight: 400;
    text-decoration: none;
}

.content .textBox p{
    text-decoration-line: overline;
    color: rgb(73, 73, 75);
    margin-top: 40px;
    font-size: 1.1em;
    text-align: center;
   
    font-family: 'Goldman', cursive;
}

.menu-navegacion .imgnav{
    margin-left: auto;
    margin-right: auto;
    top: 0;
    height: 55px;
    width: 130px;
}

.content .somos{
    margin-left: 10px;
    height: 30px;
    width: 200px;
}

.content .imgBox{
    width: 800px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 800px;
}

/*footer*/

footer{

    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    padding-bottom: 0.1px;
    border: solid 1px rgb(0, 0, 0);
}

.footer-content{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contacta{
    width: 40%;
    color: whitesmoke;
}


.line{
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background: whitesmoke;
    margin-bottom: 60px;
}